# Python
__pycache__/
*.pyc
.pytest_cache/

# Virtual env
venv/
.venv/

# Playwright browser caches
ms-playwright/
.cache/ms-playwright/
**/ChromiumPortable/
**/chrome-win/
**/chrome-linux/
**/playwright-report/

# Streamlit
.streamlit/secrets.toml

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
